{% extends 'layout.html.twig' %}

{% block content %}
    <h1>QuickQuery.com</h1>

    {% if session.user is defined %}
        <p>Bonjour, {{ session.user.pseudo }} !</p>
        <p><a href="logout">Déconnexion</a></p>
        <p><a href="question/add">Poser une question</a></p>
    {% else %}
        <p><a href="register">S'inscrire</a></p>
        <p><a href="login">Connexion</a></p>
    {% endif %}
{% endblock %}
