{% extends 'layout.html.twig' %}

{% block content %}
    <h1>QuickQuery.com</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus maxime illum quidem repellendus esse. Inventore non dicta consequatur neque possimus quasi, error excepturi laudantium obcaecati! Repudiandae officia animi impedit at.</p>
{% endblock %}
