{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <h2 >Last Questions</h2>
    <ul>
     <div class="row ">
    {% for query in lastQueries %}

    <div class="card" 
    style="width: 17rem">
      {# <hr> #}
        <div class="card-body">
          <h4 class="card-title">{{ query.title}}</h4>
          <p class="card-text">{{query.description }}</p>
        </div>
      
      {# <ul class="list-group list-group-flush"> #}
       
<div class="card-footer bg-transparent">
        <span class="badge bg-dark">{{query.name }}</span>
         {# {% for tag in tags %}
        {% endfor %} #}
       </div>
      {# </ul> #}

        {# <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div> #}
      {# <hr> #}
    </div>
    {% endfor %}
    </div>
  </ul>
</div>
{% endblock %}
