<div class="header">
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="/assets/images/quickquery_logo.png" class="logo" alt="logo of quickquery"></a>
            <form class="d-flex">
                <input class="form-control me-sm-2 mr-3" type="search" placeholder="Type some keywords here mate...">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">OK</button>
            </form>
            <button type="button" class="btn btn-primary askquestion"><span class="plus">+</span>Ask a question</button>
        </div>
        </div>
    </nav>
</div>