body {
    color: black;
    background-color: #F9F9F9;
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem; 
}

#form-question {
    padding: 2rem;
    background-color: white;
}
.form-control {
    background-color: #f3f3f3;
}

.w100 {
    width: 100% !important;
}

.tag-item {
    display: inline-block;
    padding: .8rem 2rem;
    margin: .1rem;
    background-color: #020202;
    border-radius: 3px;
    color: #eeecec;
}

.tag-item .remove-tag {
    cursor: pointer;
    margin-left: 5px;
}

.title {
    display: block;
    font-size: 2rem;
    padding: 2rem 0;
}

#scheduled_at, #tagsDropdown, #toggleTagsButton {
    width: 15rem;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #899bad;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

#layerHelpMsg {
    position: absolute;
    top: 4rem;
    left: 17rem;
    width: max-content;
    box-shadow: 0px 2px 5px #aaa;
    z-index: 1000;
    font-size: .9rem;
}

#form-question {
    padding: 2rem;
    background-color: white;
}
.form-control {
    background-color: #f3f3f3;
}

.w100{
    width: 100% !important;
}

.tag-item {
    display: inline-block;
    padding: .8rem 2rem;
    margin: .1rem;
    background-color: #020202;
    border-radius: 3px;
    color: #eeecec;
}

.tag-item .remove-tag {
    cursor: pointer;
    margin-left: 5px;
}


#scheduled_at, #tagsDropdown, #toggleTagsButton {
    width: 15rem;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #899bad;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

#layerHelpMsg {
    position: absolute;
    top: 4rem;
    left: 17rem;
    width: max-content;
    box-shadow: 0px 2px 5px #aaa;
    z-index: 1000;
    font-size: .9rem;
}


.navbar .container-fluid {
    justify-content: unset;
}

.header {
    background-color: #FFFFFF;
    height: 6em;
    box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.1);
    border-width: .2rem;
}

.header a {
    padding: 1rem 3rem 1rem 0;
}

form input[type='search'] {
    width: 35rem;
}

.bg-light {
    background-color: #ffffff !important;
}

.logo {
    width: 12rem;
}

.user-profile{
    padding: 1rem;
}

.askquestion {
    margin-left: 5rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

.plus {
    padding: 1rem;
    font-size: x-large;
    font-weight: bold;
}

.sidebar {
    padding: 3rem;
    background-color: #e7e7e7;
}

.sidebar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(155, 152, 152);
    display: block;
}

.sidebar a:hover {
    background-color: #ECECEC;
}

.main {
    padding: 0 5rem;
}

button.readmore {
    border: 0;
}

.popover-body {
    font-size: 1.2rem;
}

.card-body{
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    min-height: 11rem;
}

.card-question {
    background-color: white;
    border: 1px solid #ececec;
    border-radius: .5rem;
    height: 15rem;
    width: 25rem;
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}
.card-user {
    font-size: .9rem;
    color: #555;
}

.btn-card {

    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    background: none;
    outline: none;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid #ececec;
}

.btn:hover {
    background-color: #fdfcfc;
    color: rgb(23, 74, 243);
} 


.badge {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.icon-large {
    font-size: 2rem;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-row > span {
    color: #c9c9c9;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}



