{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        {% if userId is not defined and userId is empty %}
            {% include 'sidebar.html.twig' %}
        {% endif %}
        <div class="main-login">

            <h1 class="title">Login</h1>

            {% if errors is not empty %}
                {% for error in errors %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" role="img" aria-label="Danger:"></i>
                    <div>{{ error }}</div>
                </div>
                {% endfor %}
            {% endif %}

            {% if userId is defined and userId is not empty %}
                <h5>You are already logged in :)</h5>
                <p><a href="/logout">Logout?</a></p>
            {% else %}
                <form method="post" id="form-log" class="card">
                    <div class="login">

                        <div class="form-group mb-3">
                            <input type="email" placeholder="Email" value="{{ user.email }}" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" placeholder="Password" value="{{ user.password }}" name="password" id="password" class="form-control">
                        </div>

                        <div id="selectedTagsDisplay" class="form-group"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-dark btn-lg w-30">Login</button>
                        </div>
                    </div>
                </form>
                <p><br />Not registered?<a href="/register">&nbsp;Register</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}