{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">

        <h1 class="title">Poser une question</h1>

        {% if errors is not empty %}
            {% for error in errors %}
                <p class="errormsg">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% include 'Question/_form.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('toggleTagsButton');
        var dropdown = document.getElementById('tagsDropdown');
        var tagsSelect = document.getElementById('tagsSelect');
        var selectedTagsDisplay = document.getElementById('selectedTagsDisplay');

        if (toggleButton) {
            toggleButton.addEventListener('click', function() {
                if (dropdown.style.display === 'none') {
                    dropdown.style.display = 'block';
                    this.textContent = 'Ajouter !';
                } else {
                    dropdown.style.display = 'none';
                    this.textContent = 'Selectionner des tags';
                }
            });
        }

        function updateSelectedTagsDisplay() {
            var selectedOptions = Array.from(tagsSelect.selectedOptions);
            selectedTagsDisplay.innerHTML = ''; // Clear current display

            selectedOptions.forEach(option => {
                var tagItem = document.createElement('span');
                tagItem.className = 'tag-item';
                tagItem.textContent = option.textContent;

                var removeButton = document.createElement('span');
                removeButton.className = 'remove-tag';
                removeButton.textContent = ' x';
                removeButton.addEventListener('click', function() {
                    option.selected = false;
                    updateSelectedTagsDisplay();
                });

                tagItem.appendChild(removeButton);
                selectedTagsDisplay.appendChild(tagItem);
            });
        }

        if (tagsSelect) {
            tagsSelect.addEventListener('change', updateSelectedTagsDisplay);

            // Initialiser l'affichage avec les tags déjà sélectionnés
            updateSelectedTagsDisplay();
        }
    });
</script>

{% endblock %}
