{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container">

		<h1 class="title">Poser une question</h1>

        {% if errors is not empty %}
            {% for error in errors %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" role="img" aria-label="Danger:"></i>
                <div>{{ error }}</div>
            </div>
            {% endfor %}
        {% endif %}
        {% include 'Question/_form.html.twig' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}

{% block javascript %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('toggleTagsButton');
        var tagsSelect = document.getElementById('tagsSelect');
        var dropdown = document.getElementById('tagsDropdown');
        var selectedTagsDisplay = document.getElementById('selectedTagsDisplay');

        if (toggleButton) {
            toggleButton.addEventListener('click', function() {
                if (dropdown.style.display === 'none') {
                    dropdown.style.display = 'block';
                    this.textContent = 'Ajouter !';
                } else {
                    dropdown.style.display = 'none';
                    this.textContent = 'Selectionner des tags';
                }
            });
        }

        function updateSelectedTagsDisplay() {
            var selectedOptions = Array.from(tagsSelect.selectedOptions);
            selectedTagsDisplay.innerHTML = ''; 

            selectedOptions.forEach(option => {
                var tagItem = document.createElement('span');
                tagItem.className = 'tag-item';
                tagItem.textContent = option.textContent;

                var removeButton = document.createElement('span');
                removeButton.className = 'remove-tag';
                removeButton.innerHTML = '<i class="bi bi-x flex-shrink-0 me-2" role="img" aria-label="Remove"></i>';

                removeButton.addEventListener('click', function() {
                    option.selected = false;
                    updateSelectedTagsDisplay();
                });

                tagItem.appendChild(removeButton);
                selectedTagsDisplay.appendChild(tagItem);
            });
        }

        if (tagsSelect) {
            tagsSelect.addEventListener('change', updateSelectedTagsDisplay);

            updateSelectedTagsDisplay();
        }
    });
</script>

{% endblock %}
