{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Poser une question</h1>

    {% if errors is not empty %}
        {% for error in errors %}
            <p class="errormsg">{{ error }}</p>
        {% endfor %}
    {% endif %}

    {% include 'Question/_form.html.twig' %}
    
{% endblock %}

{% block javascript %}


<script>
    document.addEventListener('DOMContentLoaded', function() {

        var toggleButton = document.getElementById('toggleTagsButton');
        var dropdown = document.getElementById('tagsDropdown');
        var tagsSelect = document.getElementById('tagsSelect');
        var selectedTagsDisplay = document.getElementById('selectedTagsDisplay');
        
        if (toggleButton) {
            toggleButton.addEventListener('click', function() {
                if (dropdown.style.display === 'none') {
                    dropdown.style.display = 'block';
                    this.textContent = 'Ajouter !';
                } else {
                    dropdown.style.display = 'none';
                    this.textContent = 'Choisir des tags';
                }
            });
        }
        if (tagsSelect) {
            tagsSelect.addEventListener('change', function() {
                var selectedOptions = Array.from(tagsSelect.selectedOptions);
                var selectedTags = selectedOptions.map(option => option.textContent);
                selectedTagsDisplay.textContent = selectedTags.join(', ');
            });

            // Initialiser l'affichage avec les tags déjà sélectionnés
            var initialSelectedOptions = Array.from(tagsSelect.selectedOptions);
            var initialSelectedTags = initialSelectedOptions.map(option => option.textContent);
            selectedTagsDisplay.textContent = initialSelectedTags.join(', ');
        }
    });
</script>

{% endblock %}
